<section class="py-4 shadow rounded bg-white">
  <form class="p-4" [formGroup]="DataForm" (ngSubmit)="sendData()">
    <h2 class="text-center display-4">Note Data</h2>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Ex. Note1" formControlName="title">
      <mat-error *ngIf="DataForm.get('title')?.getError('required')">Title Is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mt-5" appearance="outline">
      <mat-label>Leave a note</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="desc"></textarea>
      <mat-error *ngIf="DataForm.get('desc')?.getError('required')">description Is <strong>required</strong></mat-error>
    </mat-form-field>


    <button mat-raised-button color="primary" [disabled]="DataForm.invalid" *ngIf="data === null">Add Note</button>
    
    <button *ngIf="data !== null" mat-raised-button color="warn" [disabled]="DataForm.invalid">Update Note</button>
  </form>
</section>
